*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		
}

html{
	scroll-behavior: smooth;
}
body{
	background-image: url(../images/cap1-bg2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*landung page*/
#landing{
	height: 100vh;
	background-color: black;
}
#landing-bg{
	position: absolute;
	z-index: 1;
	width: 100%;
}
#welcome{
	position: absolute;
	margin-top: 50px;
	z-index: 5;
}
#welcome2{
	position: absolute;
	margin-top: 50px;
	left: 15%;
	z-index: 5;
}
#logo{
	position: absolute;
	top: 30%;
	left: 15%;
	z-index: 100;
	max-width: 250px;
}
#logo:hover{
	transform: scale(1.1);
	transition: .1s;
	box-shadow: 0px 10px 10px #33ff00;
}
#logo2{
	position: absolute;
	top: 30%;
	left: 30%;
	z-index: 100;
	max-width: 250px;
}
#logo2:hover{
	transform: scale(1.1);
	transition: .1s;
	box-shadow: 0px 10px 10px #33ff00;
}

.box{
	width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    top: 140px;
    left: 43%;
    z-index: 10;
}
.box2{
	width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    top: 140px;
    left: 63%;
    z-index: 10;
}
.box3{
	width: 50px;
    height: 50px;
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    top: 140px;
    left: 83%;
    z-index: 10;
}
.box .img-top, .box2 .img-top, .box3 .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.box:hover .img-top, .box2:hover .img-top, .box3:hover .img-top {
    display: inline;

}
.icon2{
	width: 150px;
}

.box-1{
	width: 50px;
    height: 50px;
  	position: absolute;
    margin: 0 auto;
    bottom: 30%;
    left: 15%;
    z-index: 10;
}
.box-2{
	width: 50px;
    height: 50px;
  	position: absolute;
    margin: 0 auto;
    bottom: 30%;
    left: 40%;
    z-index: 10;
}
.box-3{
	width: 50px;
    height: 50px;
  	position: absolute;
    margin: 0 auto;
    bottom: 30%;
    left: 65%;
    z-index: 10;
}

/*nav*/
nav{
	position: sticky;
	top: 20%;
	height: 50px;
	z-index: 100;
}
.box4{
	width: 50px;
    height: 50px;
}
.box4:hover .icon{
	filter: grayscale(0);
	box-shadow: 0px 0px 5px #33ff00;
	
}
.divide{
	height: 200px;
}
.icon{
	max-width: 50px;
	filter: grayscale(100%);
	transition: .1s;
}




/*about*/
#about{
	margin-bottom: 150px;
}
#vin{
	max-width: 300px;
}
h6{
	font-size: 20px; !important
}

/*skills*/
#skills{
	background-color: black;
	padding-bottom: 10%;
	
}
.logo-icon{
	width: 80px;
	filter: grayscale(100%);

}
.logo-icon:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}
.red:hover{
	color: red;
	transform: scale(1.1);
}
.green:hover{
	color: green;
	transform: scale(1.1);
}
.blue:hover{
	color: cyan;
	transform: scale(1.1);
}
.yellow:hover{
	color: yellow;
	transform: scale(1.1);
}
.salmon:hover{
	color: salmon;
	transform: scale(1.1);
}
.violet:hover{
	color: violet;
	transform: scale(1.1);
}

/*projects*/
#projects{
	background-image: url(../images/power-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 10%;
}
.project-item{
	max-width: 300px;
}
.project-box{
	height: 200px;
	width: 300px;
	margin-top: 20px;
}
.project-box:hover .project-item{
	transform: scale(1.1);
}

/*contacts*/
#contacts{
	margin-bottom: 200px;
}

.logo-name{
	width: 500px;
}
.cont-icon{
	width: 60px;
	
}

.icon-box{
	width: 300px;
	height: 80px;
}

/*footer*/
footer{
	text-align: center;
	height: 50px;
}